<%- include('header.ejs') %>


    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area with-banner bg-cover text-center bg-dark text-light"
        style="background-image: url(assets/img/banner/7.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>About Us</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="https://validthemes.net/site-template/visaco/about-us-4.html#"><i
                                        class="fas fa-home"></i> Home</a></li>
                            <li class="active">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start About 
    ============================================= -->
    <div class="about-style-four-area default-padding">
        <div class="container">
            <div class="about-style-four-items">
                <div class="row">
                    <div class="col-lg-6 pr-60 pr-md-15 pr-xs-15">
                        <div class="about-style-four-thumb">
                            <img class="wow fadeInUp" src="./assets/img/5.jpg" data-wow-delay="100ms"
                                alt="Image Not Found"
                                style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                            <img class="wow fadeInUp" data-wow-delay="200ms" src="./assets/img/6.jpg"
                                alt="Image Not Found"
                                style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                            <img src="./assets/img/12.png" alt="Image Not Found">
                            <div class="experience wow fadeInUp" data-wow-delay="150ms"
                                style="visibility: visible; animation-delay: 150ms; animation-name: fadeInUp;">
                                <h2>10</h2>
                                <h4>Years of <br> Experience</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-style-four-info">
                            <h4 class="sub-title">About the Trainer</h4>
                            <h2 class="title split-text" style="">
                                <div class="line" style="display: block; text-align: start; position: relative;">
                                    <div
                                        style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                        Focused</div>
                                    <div
                                        style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                        English</div>
                                </div>
                                <div class="line" style="display: block; text-align: start; position: relative;">
                                    <div
                                        style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                        Test</div>
                                    <div
                                        style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                        Training for</div>
                                    <div
                                        style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                        Real</div>
                                </div>
                                <div class="line" style="display: block; text-align: start; position: relative;">
                                    <div
                                        style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                        Exam</div>
                                    <div
                                        style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                        Success</div>
                                </div>
                            </h2>
                            <p class="wow fadeInUp" data-wow-delay="100ms"
                                style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                                I am an English language trainer specializing in IELTS, PTE, and other English
                                proficiency exams.
                                With years of hands-on teaching experience, I focus on building strong fundamentals,
                                clear thinking, and exam-ready skills. My approach is practical, student-focused,
                                and designed to help learners understand how the exam works, not just what to study.
                                Whether you are a beginner or struggling to improve your score, my goal is to guide
                                you with clarity, structure, and honest feedback.
                            </p>
                            <!-- <a href="https://validthemes.net/site-template/visaco/about-us.html"
                                    class="btn-style-one circle wow fadeInUp" data-wow-delay="150ms"
                                    style="visibility: visible; animation-delay: 150ms; animation-name: fadeInUp;">Discover
                                    More <span></span></a> -->
                            <div class="card-style-four-items wow fadeInUp" data-wow-delay="350ms"
                                style="visibility: visible; animation-delay: 350ms; animation-name: fadeInUp;">
                                <div class="card-style-four">
                                    <div class="icon">
                                        <img src="./assets/img/16.png" alt="Image Not Found">
                                        <h4>Skill-Based Training Approach</h4>
                                    </div>
                                    <p>
                                        Every session focuses on developing listening, reading, writing, and
                                        speaking skills with clear strategies and guided practice.
                                    </p>
                                </div>
                                <div class="card-style-four">
                                    <div class="icon">
                                        <img src="./assets/img/17.png" alt="Image Not Found">
                                        <h4>Personalized Exam Guidance</h4>
                                    </div>
                                    <p>
                                        Students receive individual feedback, targeted improvement plans, and
                                        support based on their current level and goals.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Start Fun fact 
    ============================================= -->
    <div class="fun-fact-style-one-area default-padding bg-cover bg-dark text-light overflow-hidden"
        style="background-image: url(assets/img/shape/21.png);">
        <div class="container">
            <div class="fun-fact-style-one-items">
                <div class="row">
                    <!-- Single item -->
                    <div class="col-lg-4 col-md-6 funfact-style-one-item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="500" data-speed="2000">500</div>
                                <div class="operator">+</div>
                            </div>
                            <span class="medium">Students Trained <br> Successfully</span>
                        </div>
                    </div>
                    <!-- End Single item -->

                    <!-- Single item -->
                    <div class="col-lg-4 col-md-6 funfact-style-one-item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="10" data-speed="2000">10</div>
                                <div class="operator">+</div>
                            </div>
                            <span class="medium">Years of <br> Experience</span>
                        </div>
                    </div>
                    <!-- End Single item -->

                    <!-- Single item -->
                    <div class="col-lg-4 col-md-6 funfact-style-one-item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="50" data-speed="2000">50</div>
                                <div class="operator">+</div>
                            </div>
                            <span class="medium">Mock Tests & <br> Practice Tasks</span>
                        </div>
                    </div>
                    <!-- End Single item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Fun Fact -->

















    <!-- Start Why Choose Us 
    ============================================= -->
    <div class="choose-us-style-one-area">
        <div class="container">
            <div class="choose-us-style-one-frame default-padding">
                <div class="thumb">
                    <img src="assets/img/t1.jpg" alt="Image Not Found">
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="choose-us-style-one-info">
                            <h4 class="sub-title">Why Choose Us</h4>
                            <h2 class="title split-text">Real Advantages of Learning with an Experienced
                                Trainer</h2>
                            <p class="wow fadeInUp" data-wow-delay="100ms">
                                I focus on practical exam preparation, critical thinking, and real communication
                                skills. My approach is structured, honest, and exam-oriented — designed to help
                                students perform confidently, not memorize blindly.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="choose-us-style-one-items wow fadeInUp" data-wow-delay="100ms">
                    <div class="row">
                        <!-- Singel Item -->
                        <div class="col-xl-3 col-md-6">
                            <div class="choose-us-style-one-item">
                                <div class="icon">
                                    <img src="assets/img/icon/37.png" alt="Image Not Found">
                                </div>
                                <h4>Exam-Oriented Approach</h4>
                                <p>
                                    Clear focus on test format, scoring criteria, and examiner expectations.
                                </p>
                            </div>
                        </div>
                        <!-- End Singel Item -->
                        <!-- Singel Item -->
                        <div class="col-xl-3 col-md-6">
                            <div class="choose-us-style-one-item">
                                <div class="icon">
                                    <img src="assets/img/icon/dollar.png" alt="Image Not Found">
                                </div>
                                <h4>Practical Learning</h4>
                                <p>
                                    Step-by-step improvement in writing, speaking, listening, and reading skills.
                                </p>
                            </div>
                        </div>
                        <!-- End Singel Item -->
                        <!-- Singel Item -->
                        <div class="col-xl-3 col-md-6">
                            <div class="choose-us-style-one-item">
                                <div class="icon">
                                    <img src="assets/img/icon/36.png" alt="Image Not Found">
                                </div>
                                <h4>Personal Mentorship</h4>
                                <p>
                                    Individual feedback and guidance based on each student’s level and goals.
                                </p>
                            </div>
                        </div>
                        <!-- End Singel Item -->
                        <!-- Singel Item -->
                        <div class="col-xl-3 col-md-6">
                            <div class="choose-us-style-one-item active">
                                <div class="icon">
                                    <img src="assets/img/icon/support.png" alt="Image Not Found">
                                </div>
                                <h5>Need Quick Guidance?</h5>

                                <div class="call-card">
                                    <a href="tel:+4733378901">
                                        <div class="content">
                                            <p>
                                                Call Us Today
                                            </p>
                                            <h6>+012-345-6789</h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Singel Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Why Choose Us  -->


























    <!-- Start Process 
    ============================================= -->
    <div class="process-style-one-area text-center default-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                    <div class="site-heading text-center">
                        <h4 class="sub-title">HOW PREPARATION WORKS</h4>
                        <h2 class="title split-text" style="">
                            <div class="line" style="display: block; text-align: center; position: relative;">
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    Prepare </div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    for</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    Your</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    English </div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    Exam</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                </div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                </div>
                            </div>
                            <div class="line" style="display: block; text-align: center; position: relative;">
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    in Three</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    Simple</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    Steps
                                </div>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="process-style-one-items wow fadeInUp" data-wow-delay="100ms"
                        style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                        <!-- Single Item -->
                        <div class="process-style-one-item hover-active-item">
                            <div class="icon">
                                <img src="./assets/img/9.png" alt="Image Not Found">
                            </div>
                            <div class="info">
                                <div class="shape">
                                    <img src="./assets/img/41.png" alt="Image Not Found">
                                </div>
                                <span>01</span>
                                <h4>Understand the Exam</h4>
                                <p>
                                    Get a clear overview of the exam format, scoring criteria, and what examiners
                                    actually expect.
                                </p>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="process-style-one-item hover-active-item active">
                            <div class="icon">
                                <img src="./assets/img/10.png" alt="Image Not Found">
                            </div>
                            <div class="info">
                                <div class="shape">
                                    <img src="./assets/img/41.png" alt="Image Not Found">
                                </div>
                                <span>02</span>
                                <h4>Build Skills with Practice</h4>
                                <p>
                                    Develop listening, reading, writing, and speaking skills through guided practice
                                    and focused strategies.
                                </p>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="process-style-one-item hover-active-item">
                            <div class="icon">
                                <img src="./assets/img/11.png" alt="Image Not Found">
                            </div>
                            <div class="info">
                                <div class="shape">
                                    <img src="./assets/img/41.png" alt="Image Not Found">
                                </div>
                                <span>03</span>
                                <h4>Test with Confidence</h4>
                                <p>
                                    Apply strategies confidently in mock tests and real exam situations.
                                </p>
                            </div>
                        </div>
                        <!-- End Single Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Process -->

    <!-- Start Testimonial 
    ============================================= -->
    <div class="testimonial-style-three-area default-padding bg-gradient-minimal">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="testimonial-three-thumb">
                        <img src="./assets/img/4.jpg" alt="Image Not Found">
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="testimoial-style-three-items">
                        <div class="site-heading">
                            <h4 class="sub-title">LEARNING EXPERIENCES</h4>
                            <h2 class="title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                More Than Test Preparation,<br> A Complete Learning Experience</h2>
                        </div>
                        <!-- Slider main container -->
                        <div class="testimonial-style-three-carousel swiper wow fadeInUp swiper-initialized swiper-horizontal swiper-pointer-events swiper-free-mode swiper-backface-hidden"
                            data-wow-delay="100ms"
                            style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper" id="swiper-wrapper-106b7cf82432ed1038" aria-live="off"
                                style="cursor: grab; transition-duration: 0ms; transform: translate3d(-1960px, 0px, 0px);">
                                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0"
                                    style="width: 460px; margin-right: 30px;" role="group" aria-label="1 / 2">
                                    <div class="testimonial-style-three-item">
                                        <div class="quote">
                                            <img src="./assets/img/quote.png" alt="Image Not Found">
                                        </div>
                                        <div class="info">
                                            <div class="top">
                                                <h4>Learning beyond the exam</h4>
                                                <div class="ratings">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                            <p>
                                                This training completely changed how I think and communicate. I
                                                didn’t just prepare for IELTS, I learned how to organize thoughts,
                                                speak respectfully, and respond logically. The focus on critical
                                                thinking really helped me in daily conversations as well.
                                            </p>
                                            <div class="provider-details">
                                                <div class="thumb">
                                                    <img src="./assets/img/12.jpg" alt="Image Not Found">
                                                </div>
                                                <div class="content">
                                                    <h4>Hamza Tariq</h4>
                                                    <span>IELTS Student</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev"
                                    data-swiper-slide-index="1" style="width: 460px; margin-right: 30px;" role="group"
                                    aria-label="2 / 2">
                                    <div class="testimonial-style-three-item">
                                        <div class="quote">
                                            <img src="./assets/img/quote.png" alt="Image Not Found">
                                        </div>
                                        <div class="info">
                                            <div class="top">
                                                <h4>Strong focus on thinking and ethics</h4>
                                                <div class="ratings">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <p>
                                                The trainer teaches you how to think before you speak or write. I
                                                learned communication ethics, clarity, and how to express
                                                disagreement politely. These skills helped me outside exams too,
                                                especially in professional settings.
                                            </p>
                                            <div class="provider-details">
                                                <div class="thumb">
                                                    <img src="./assets/img/11.jpg" alt="Image Not Found">
                                                </div>
                                                <div class="content">
                                                    <h4>Maryam Iqbal</h4>
                                                    <span>IELTS Student</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Item -->
                                <div class="swiper-slide swiper-slide-duplicate-active" data-swiper-slide-index="0"
                                    style="width: 460px; margin-right: 30px;" role="group" aria-label="1 / 2">
                                    <div class="testimonial-style-three-item">
                                        <div class="quote">
                                            <img src="./assets/img/quote.png" alt="Image Not Found">
                                        </div>
                                        <div class="info">
                                            <div class="top">
                                                <h4>Not just an IELTS teacher</h4>
                                                <div class="ratings">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                            <p>
                                                This was not normal coaching. The sessions improved my mindset,
                                                confidence, and communication style. Writing tasks helped me learn
                                                discipline and structure, not only for exams but for real life
                                                communication.
                                            </p>
                                            <div class="provider-details">
                                                <div class="thumb">
                                                    <img src="./assets/img/12.jpg" alt="Image Not Found">
                                                </div>
                                                <div class="content">
                                                    <h4>Bilal Ahmad</h4>
                                                    <span>PTE Candidate</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Item -->
                                <!-- Single Item -->
                                <div class="swiper-slide swiper-slide-prev swiper-slide-duplicate-next"
                                    data-swiper-slide-index="1" style="width: 460px; margin-right: 30px;" role="group"
                                    aria-label="2 / 2">
                                    <div class="testimonial-style-three-item">
                                        <div class="quote">
                                            <img src="./assets/img/quote.png" alt="Image Not Found">
                                        </div>
                                        <div class="info">
                                            <div class="top">
                                                <h4>A mentor, not just a trainer</h4>
                                                <div class="ratings">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <p>
                                                I felt guided, not judged. Mistakes were corrected in a respectful
                                                way. I learned how to listen better, speak with purpose, and
                                                communicate ethically. This experience was much more than exam
                                                preparation.
                                            </p>
                                            <div class="provider-details">
                                                <div class="thumb">
                                                    <img src="./assets/img/11.jpg" alt="Image Not Found">
                                                </div>
                                                <div class="content">
                                                    <h4>Sadia Khan</h4>
                                                    <span>TOFEL Candidate</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Item -->
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-active"
                                    data-swiper-slide-index="0" style="width: 460px; margin-right: 30px;" role="group"
                                    aria-label="1 / 2">
                                    <div class="testimonial-style-three-item">
                                        <div class="quote">
                                            <img src="./assets/img/quote.png" alt="Image Not Found">
                                        </div>
                                        <div class="info">
                                            <div class="top">
                                                <h4>Professional growth along with exam preparation</h4>
                                                <div class="ratings">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </div>
                                            </div>
                                            <p>
                                                As a working professional, I appreciated the structured and
                                                analytical approach. The trainer focuses on critical thinking, clear
                                                communication, and ethical expression. These skills helped me not
                                                only in exam preparation but also in workplace discussions and
                                                presentations.
                                            </p>
                                            <div class="provider-details">
                                                <div class="thumb">
                                                    <img src="./assets/img/12.jpg" alt="Image Not Found">
                                                </div>
                                                <div class="content">
                                                    <h4>Farhan Siddiqui</h4>
                                                    <span>Business Analyst</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev"
                                    data-swiper-slide-index="1" role="group" aria-label="2 / 2"
                                    style="width: 460px; margin-right: 30px;">
                                    <div class="testimonial-style-three-item">
                                        <div class="quote">
                                            <img src="./assets/img/quote.png" alt="Image Not Found">
                                        </div>
                                        <div class="info">
                                            <div class="top">
                                                <h4>Strong academic and consultancy insight</h4>
                                                <div class="ratings">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <p>
                                                As a working professional, I appreciated the structured and
                                                analytical approach. The trainer focuses on critical thinking,
                                                clear communication, and ethical expression. These skills helped me
                                                not only in exam preparation but also in workplace discussions
                                                and presentations.
                                            </p>
                                            <div class="provider-details">
                                                <div class="thumb">
                                                    <img src="./assets/img/11.jpg" alt="Image Not Found">
                                                </div>
                                                <div class="content">
                                                    <h4>Daniyel Joe</h4>
                                                    <span>Passport Customer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonial -->

    <!-- Start Team 
    ============================================= -->
    <div class="team-style-two-area default-padding bg-gray bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                    <div class="site-heading text-center">
                        <h4 class="sub-title">Our Expert Members</h4>
                        <h2 class="title split-text" style="">
                            <div class="line" style="display: block; text-align: center; position: relative;">
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    Introducing</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    our</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    skilled</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    visa</div>
                            </div>
                            <div class="line" style="display: block; text-align: center; position: relative;">
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    process</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    specialists</div>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- Single Item -->
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="team-style-two-item wow fadeInUp"
                        style="visibility: visible; animation-name: fadeInUp;">
                        <div class="thumb">
                            <img src="./assets/img/15.png" alt="Image Not Found">
                            <img src="./assets/img/38.png" alt="Image Not Found">
                            <div class="social-info">
                                <div class="social-overlay">
                                    <ul>
                                        <li>
                                            <a href="https://validthemes.net/site-template/visaco/about-us-4.html#"><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://validthemes.net/site-template/visaco/about-us-4.html#"><i
                                                    class="fab fa-dribbble"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://validthemes.net/site-template/visaco/about-us-4.html#"><i
                                                    class="fab fa-facebook-f"></i></a>
                                        </li>
                                    </ul>
                                    <div class="icon">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <div class="content">
                                <h4><a href="https://validthemes.net/site-template/visaco/team-details.html">Aleesha
                                        Brown</a></h4>
                                <span>Visa Counselor</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="team-style-two-item wow fadeInUp" data-wow-delay="100ms"
                        style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                        <div class="thumb">
                            <img src="./assets/img/16(1).png" alt="Image Not Found">
                            <img src="./assets/img/38.png" alt="Image Not Found">
                            <div class="social-info">
                                <div class="social-overlay">
                                    <ul>
                                        <li>
                                            <a href="https://validthemes.net/site-template/visaco/about-us-4.html#"><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://validthemes.net/site-template/visaco/about-us-4.html#"><i
                                                    class="fab fa-dribbble"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://validthemes.net/site-template/visaco/about-us-4.html#"><i
                                                    class="fab fa-facebook-f"></i></a>
                                        </li>
                                    </ul>
                                    <div class="icon">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <div class="content">
                                <h4><a href="https://validthemes.net/site-template/visaco/team-details.html">Kevin
                                        Martin</a></h4>
                                <span>Immigration Officer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="team-style-two-item wow fadeInUp" data-wow-delay="200ms"
                        style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                        <div class="thumb">
                            <img src="./assets/img/17(1).png" alt="Image Not Found">
                            <img src="./assets/img/38.png" alt="Image Not Found">
                            <div class="social-info">
                                <div class="social-overlay">
                                    <ul>
                                        <li>
                                            <a href="https://validthemes.net/site-template/visaco/about-us-4.html#"><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://validthemes.net/site-template/visaco/about-us-4.html#"><i
                                                    class="fab fa-dribbble"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://validthemes.net/site-template/visaco/about-us-4.html#"><i
                                                    class="fab fa-facebook-f"></i></a>
                                        </li>
                                    </ul>
                                    <div class="icon">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <div class="content">
                                <h4><a href="https://validthemes.net/site-template/visaco/team-details.html">Sarah
                                        Albert</a></h4>
                                <span>Immigration Specialist</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item --->
            </div>
        </div>
    </div>
    <!-- End Team -->

    <%- include('footer.ejs') %>