<!-- Start Footer 
    ============================================= -->
<div class="footer-top-area bg-dark-secondary text-light" style="background-image: url(assets/img/shape/17.png);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="user-card">
                    <div class="thumb">
                        <img src="./assets/img/5.jpg" alt="Image Not Found">
                        <img src="./assets/img/6.jpg" alt="Image Not Found">
                        <span>4k</span>
                    </div>
                    <h4>Approved Student Visa Applications.</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <ul class="address-list">
                    <li>
                        <div class="icon"><i class="fas fa-envelope"></i></div>
                        <div class="info">
                            <h4>Email:</h4>
                            <a href="mailto:info@crysta.com">support@ieltswitharqum.com</a>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><i class="fa-solid fa-map"></i></div>
                        <div class="info">
                            <h4>Address:</h4>
                            <p>
                                Model Town C, Bahawalpur
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer class="bg-dark text-light">
    <div class="shape">
        <img src="./assets/img/12.png" alt="Image Not Found">
        <img src="./assets/img/3.png" alt="Image Not Found">
    </div>
    <div class="footer-style-one">
        <div class="container">
            <div class="f-items">
                <div class="row">
                    <div class="col-lg-4 col-md-6 footer-item">
                        <div class="f-item about">
                            <div class="footer-logo">
                                <img src="./assets/img/iwa-logo-blue.svg" class="logo" alt="Logo"
                                    style="width: 200px; filter: brightness(0) invert(1);">
                            </div>
                            <div class="f-item">
                                <p>
                                    Focused coaching for IELTS, PTE, and English proficiency exams. Building
                                    skills, confidence, and smart strategies to help learners achieve real exam
                                    success.
                                </p>
                                <ul class="footer-social-regular mt-30">
                                    <li><a href="https://www.facebook.com/profile.php?id=61559715853249"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.instagram.com/ieltswitharqum2/?next="><i
                                                class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/103945040"><i
                                                class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCn97AZoyFQ8EDieuuVCrIQQ"><i
                                                class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 footer-item">
                        <div class="f-item link">
                            <h4 class="widget-title">Quick Links</h4>
                            <ul>
                                <li>
                                    <a href="https://validthemes.net/site-template/visaco/about-us.html">Compnay
                                        Profile</a>
                                </li>
                                <li>
                                    <a href="https://validthemes.net/site-template/visaco/contact-us.html">Help
                                        Center</a>
                                </li>
                                <li>
                                    <a href="https://validthemes.net/site-template/visaco/about-us-2.html">Career</a>
                                </li>
                                <li>
                                    <a href="https://validthemes.net/site-template/visaco/pricing.html">Plans
                                        &amp; Pricing</a>
                                </li>
                                <li>
                                    <a href="https://validthemes.net/site-template/visaco/blog-with-sidebar.html">News
                                        &amp; Blog</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-item">
                        <div class="f-item link">
                            <h4 class="widget-title">Our Services</h4>
                            <ul>
                                <li>
                                    <a href="https://validthemes.net/site-template/visaco/service-details.html">Application
                                        Assistance</a>
                                </li>
                                <li>
                                    <a href="https://validthemes.net/site-template/visaco/service-details.html">Visa
                                        Type Guidance</a>
                                </li>
                                <li>
                                    <a href="https://validthemes.net/site-template/visaco/service-details.html">Documentation
                                        Support</a>
                                </li>
                                <li>
                                    <a href="https://validthemes.net/site-template/visaco/service-details.html">Immigration
                                        Advice</a>
                                </li>
                                <li>
                                    <a href="https://validthemes.net/site-template/visaco/service-details.html">Immigration
                                        Lawyers:</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-item">
                        <div class="f-item newsletter">
                            <h4 class="widget-title">Newsletter</h4>
                            <p>
                                Join our subscribers list to get the latest news and special offers.
                            </p>
                            <form class="newsletter-form-style-one"
                                action="https://validthemes.net/site-template/visaco/index-3.html#">
                                <input type="email" placeholder="Your Email" class="form-control" name="email">
                                <button type="submit">
                                    Subsribe
                                    <svg width="20" height="18" viewBox="0 0 20 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 17L17 1H7.8" stroke="white" stroke-width="2"></path>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-4">
                        <p>© Copyright 2025. All Rights Reserved by <a href="#">IELTSwithArqum</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </div>
</footer>
<!-- End Footer -->

<!-- jQuery Frameworks
    ============================================= -->
<script src="./assets/js/jquery-3.7.1.min.js"></script>
<script src="./assets/js/bootstrap.bundle.min.js"></script>
<script src="./assets/js/jquery.appear.js"></script>
<script src="./assets/js/jquery.easing.min.js"></script>
<script src="./assets/js/swiper-bundle.min.js"></script>
<script src="./assets/js/progress-bar.min.js"></script>

<script src="./assets/js/isotope.pkgd.min.js"></script>
<script src="./assets/js/imagesloaded.pkgd.min.js"></script>
<script src="./assets/js/magnific-popup.min.js"></script>
<script src="./assets/js/count-to.js"></script>
<script src="./assets/js/jquery.nice-select.min.js"></script>
<script src="./assets/js/wow.min.js"></script>
<script src="./assets/js/YTPlayer.min.js"></script>
<script src="./assets/js/validnavs.js"></script>
<script src="./assets/js/gsap.js"></script>
<script src="./assets/js/ScrollTrigger.min.js"></script>
<script src="./assets/js/SplitText.min.js"></script>
<script src="./assets/js/main.js"></script>
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>

<script type="text/javascript">
    var app = document.getElementById('app');

    var typewriter = new Typewriter(app, {
        loop: true,
        delay: 75,
    });

    typewriter
        .pauseFor(500)
        .typeString('ARQUM')
        .pauseFor(2000)
        .deleteAll()

        .typeString('Trusted Coach')
        .pauseFor(2000)
        .deleteAll()


        .typeString('Right Mentor')
        .pauseFor(2000)
        .deleteAll()



        // .typeString('<strong>JS</strong> plugin for a cool typewriter effect and ')
        // .typeString('<strong>only <span style="color: #27ae60;">5kb</span> Gzipped!</strong>')
        .start();
</script>


</div>
</body>

</html>