<!DOCTYPE html>
<!-- saved from url=(0060)https://validthemes.net/site-template/visaco/about-us-4.html -->
<html lang="en" style="scroll-behavior: smooth;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" id="www-widgetapi-script" src="./assets/js/www-widgetapi.js" async=""></script>
    <script src="./assets/js/iframe_api" id="YTAPI"></script>
    <!-- ========== Meta Tags ========== -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="IELTS with Arqum - Best IELTS/PTE Coaching in Bahawalpur">

    <!-- ========== Page Title ========== -->
    <title>About Us - IELTS with Arqum - Best IELTS/PTE Coaching in Bahawalpur</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="./assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="./assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="./assets/css/visaco-icons.css" rel="stylesheet">
    <link href="./assets/css/magnific-popup.css" rel="stylesheet">
    <link href="./assets/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="./assets/css/animate.min.css" rel="stylesheet">
    <link href="./assets/css/validnavs.css" rel="stylesheet">
    <link href="./assets/css/helper.css" rel="stylesheet">
    <link href="./assets/css/unit-test.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
    <link href="./assets/css/style2.css" rel="stylesheet">
    <!-- ========== End Stylesheet ========== -->

</head>

<body style="">
    <div class="wrapper">

        <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

        <!-- Start Preloader 
    ============================================= -->
        <div id="preloader" style="display: none;">
            <div class="visaco-loader-inner">
                <div class="visaco-loader">
                    <span class="visaco-loader-item"></span>
                    <span class="visaco-loader-item"></span>
                    <span class="visaco-loader-item"></span>
                    <span class="visaco-loader-item"></span>
                    <span class="visaco-loader-item"></span>
                    <span class="visaco-loader-item"></span>
                    <span class="visaco-loader-item"></span>
                    <span class="visaco-loader-item"></span>
                </div>
            </div>
        </div>
        <!-- preloader end -->

        <!-- Start Header Top 
    ============================================= -->
        <div class="top-bar-area bg-dark text-light">
            <div class="container-full">
                <div class="row align-center">
                    <div class="col-xl-9 col-lg-9 info">
                        <div class="address-info">
                            <ul class="item-flex">
                                <li>
                                    <i class="fas fa-envelope-open-text"></i> support@ieltswitharqum.com
                                </li>
                                <li>
                                    <i class="fas fa-clock"></i> Working Hours: 8:00 AM – 6:00 PM
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 text-end">
                        <div class="social">
                            <ul class="item-flex">
                                <li>
                                    <a href="https://www.facebook.com/profile.php?id=61559715853249" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/ieltswitharqum2/?next=" target="_blank">
                                        <!-- <img src="./assets/twitter-x.png"
                                            alt="Image Not Found"> -->
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/company/103945040" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCn97AZoyFQ8EDieuuVCrIQQ" target="_blank">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Top -->

        <!-- Header 
    ============================================= -->
        <header>
            <!-- Start Navigation -->
            <nav class="navbar mobile-sidenav navbar-default validnavs navbar-sticky navbar-style-two on no-full">

                <!-- Start Top Search -->
                <div class="top-search">
                    <div class="container-xl">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <!-- End Top Search -->


                <div class="container-full d-flex justify-content-between align-items-center">

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="https://validthemes.net/site-template/visaco/index.html">
                            <img src="./assets/img/iwa-logo-blue.svg" class="logo logo-display" alt="Logo">
                            <img src="./assets/img/iwa-logo-blue.svg" class="logo logo-scrolled" alt="Logo">
                        </a>
                    </div>
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">

                        <img src="./assets/img/iwa-logo-blue.svg" alt="Logo">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-times"></i>
                        </button>

                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <!-- <li class="dropdown megamenu-fw megamenu-style-one"> -->
                            <!-- <a href="https://validthemes.net/site-template/visaco/index-3.html#" class="dropdown-toggle" data-toggle="dropdown">HOME</a> -->
                            <!-- <ul class="dropdown-menu megamenu-content animated" role="menu">
                                <li>
                                    <div class="col-menu-wrap">
                                        <div class="col-item">
                                            <div class="menu-thumb">
                                                <img src="./assets/home-1.jpg" alt="Image Not Found">
                                                <div class="overlay">
                                                    <a href="https://validthemes.net/site-template/visaco/index.html">Multipage</a>
                                                    <a href="https://validthemes.net/site-template/visaco/index-op.html">One Page</a>
                                                </div>
                                            </div>
                                            <h6 class="title"><a href="https://validthemes.net/site-template/visaco/index.html">Home Version One</a></h6>
                                        </div>
                                        <div class="col-item">
                                            <div class="menu-thumb">
                                                <img src="./assets/home-2.jpg" alt="Image Not Found">
                                                <div class="overlay">
                                                    <a href="https://validthemes.net/site-template/visaco/index-2.html">Multipage</a>
                                                    <a href="https://validthemes.net/site-template/visaco/index-2-op.html">One Page</a>
                                                </div>
                                            </div>
                                            <h6 class="title"><a href="https://validthemes.net/site-template/visaco/index-2.html">Home Version Two</a></h6>
                                        </div>
                                        <div class="col-item">
                                            <div class="menu-thumb">
                                                <img src="./assets/home-3.jpg" alt="Image Not Found">
                                                <div class="overlay">
                                                    <a href="https://validthemes.net/site-template/visaco/index-3.html">Multpage</a>
                                                    <a href="https://validthemes.net/site-template/visaco/index-3-op.html">One Page</a>
                                                </div>
                                            </div>
                                            <h6 class="title"><a href="https://validthemes.net/site-template/visaco/index-3.html">Home Version Three</a></h6>
                                        </div>
                                        <div class="col-item">
                                            <div class="menu-thumb">
                                                <img src="./assets/home-4.jpg" alt="Image Not Found">
                                                <div class="overlay">
                                                    <a href="https://validthemes.net/site-template/visaco/index-4.html">Multipage</a>
                                                    <a href="https://validthemes.net/site-template/visaco/index-4-op.html">One Page</a>
                                                </div>
                                            </div>
                                            <h6 class="title"><a href="https://validthemes.net/site-template/visaco/index-4.html">Home Version Four</a></h6>
                                        </div>
                                        <div class="col-item">
                                            <div class="menu-thumb">
                                                <img src="./assets/home-5.jpg" alt="Image Not Found">
                                                <div class="overlay">
                                                    <a href="https://validthemes.net/site-template/visaco/index-5.html">Multipage</a>
                                                    <a href="https://validthemes.net/site-template/visaco/index-5-op.html">One Page</a>
                                                </div>
                                            </div>
                                            <h6 class="title"><a href="https://validthemes.net/site-template/visaco/index-5.html">Home Version Five</a></h6>
                                        </div>
                                        <div class="col-item">
                                            <div class="menu-thumb">
                                                <img src="./assets/home-6.jpg" alt="Image Not Found">
                                                <div class="overlay">
                                                    <a href="https://validthemes.net/site-template/visaco/index-6.html">Multipage</a>
                                                    <a href="https://validthemes.net/site-template/visaco/index-6-op.html">One Page</a>
                                                </div>
                                            </div>
                                            <h6 class="title"><a href="https://validthemes.net/site-template/visaco/index-6.html">Home Version Six</a></h6>
                                        </div>
                                        
                                    </div>
                                    <div class="megamenu-banner">
                                        <img src="./assets/banner.jpg" alt="Image Not Found">
                                        <a href="https://www.youtube.com/watch?v=35mvh-2oII8" class="popup-youtube video-play-button"><i class="fas fa-play"></i></a>
                                        <h6 class="title"><a href="https://validthemes.net/site-template/visaco/index-3.html#">Watch Intro Video</a></h6>
                                    </div>
                                </li>
                            </ul> -->
                            <!-- </li> -->
                            <li>
                                <a href="./">HOME</a>
                            </li>
                            <li>
                                <a href="./about">About</a>
                            </li>
                            <li class="dropdown">
                                <a href="https://validthemes.net/site-template/visaco/index-3.html#"
                                    class="dropdown-toggle" data-toggle="dropdown">Info<i
                                        class="fa-solid fa-chevron-down"></i></a>
                                <ul class="dropdown-menu animated">
                                    <li><a href="./blog.html">Blog</a>
                                    </li>
                                    <li><a href="./faq.html">FAQs</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="https://validthemes.net/site-template/visaco/index-3.html#"
                                    class="dropdown-toggle" data-toggle="dropdown">Courses<i
                                        class="fa-solid fa-chevron-down"></i></a>
                                <ul class="dropdown-menu animated">
                                    <li><a href="https://validthemes.net/site-template/visaco/blog-standard.html">Video
                                            Lectures</a>
                                    </li>
                                    <li><a
                                            href="https://validthemes.net/site-template/visaco/blog-with-sidebar.html">E-Books</a>
                                    </li>


                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="https://validthemes.net/site-template/visaco/index-3.html#"
                                    class="dropdown-toggle" data-toggle="dropdown">Tools<i
                                        class="fa-solid fa-chevron-down"></i></a>
                                <ul class="dropdown-menu animated">
                                    <li><a href="https://validthemes.net/site-template/visaco/blog-standard.html">Test
                                            Portal</a>
                                    </li>
                                    <li><a href="https://validthemes.net/site-template/visaco/blog-with-sidebar.html">IELTS
                                            Band Calculator</a>
                                    </li>
                                    <!-- <li><a
                                            href="https://validthemes.net/site-template/visaco/blog-2-colum.html">Writing</a>
                                    </li>
                                    <li><a
                                            href="https://validthemes.net/site-template/visaco/blog-3-colum.html">Speaking</a>
                                    </li> -->

                                </ul>
                            </li>
                            <li>
                                <a href="./contact.html">Contact</a>
                            </li>
                            <!-- <li class="dropdown">
                            <a href="https://validthemes.net/site-template/visaco/index-3.html#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <ul class="dropdown-menu animated">
                                <li class="dropdown">
                                    <a href="https://validthemes.net/site-template/visaco/index-3.html#" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
                                    <ul class="dropdown-menu animated">
                                        <li><a href="https://validthemes.net/site-template/visaco/about-us.html">About Style One</a></li>
                                        <li><a href="https://validthemes.net/site-template/visaco/about-us-2.html">About Style Two</a></li>
                                        <li><a href="https://validthemes.net/site-template/visaco/about-us-3.html">About Style Three</a></li>
                                        <li><a href="https://validthemes.net/site-template/visaco/about-us-4.html">About Style Four</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="https://validthemes.net/site-template/visaco/index-3.html#" class="dropdown-toggle" data-toggle="dropdown">Coaching</a>
                                    <ul class="dropdown-menu animated">
                                        <li><a href="https://validthemes.net/site-template/visaco/coaching.html">Coaching Style One</a></li>
                                        <li><a href="https://validthemes.net/site-template/visaco/coaching-details.html">Coaching Details</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="https://validthemes.net/site-template/visaco/index-3.html#" class="dropdown-toggle" data-toggle="dropdown">Team</a>
                                    <ul class="dropdown-menu animated">
                                        <li><a href="https://validthemes.net/site-template/visaco/team.html">Team Style One</a></li>
                                        <li><a href="https://validthemes.net/site-template/visaco/team-2.html">Team Style Two</a></li>
                                        <li><a href="https://validthemes.net/site-template/visaco/team-details.html">Team Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="https://validthemes.net/site-template/visaco/apply-form.html">Application Form</a></li>
                                <li><a href="https://validthemes.net/site-template/visaco/faq.html">FAQ</a></li>
                                <li><a href="https://validthemes.net/site-template/visaco/contact-us.html">Contact Us</a></li>
                                <li><a href="https://validthemes.net/site-template/visaco/404.html">Error Page</a></li>
                            </ul>
                        </li> -->
                            <!-- <li class="dropdown">
                            <a href="https://validthemes.net/site-template/visaco/index-3.html#" class="dropdown-toggle" data-toggle="dropdown">Country</a>
                            <ul class="dropdown-menu animated">
                                <li><a href="https://validthemes.net/site-template/visaco/country.html">Country Version One</a></li>
                                <li><a href="https://validthemes.net/site-template/visaco/country-2.html">Country Version Two</a></li>
                                <li><a href="https://validthemes.net/site-template/visaco/country-3.html">Country Version Three</a></li>
                                <li><a href="https://validthemes.net/site-template/visaco/country-details.html">Country Details</a></li>
                            </ul>
                        </li> -->
                            <!-- <li class="dropdown">
                            <a href="https://validthemes.net/site-template/visaco/index-3.html#" class="dropdown-toggle" data-toggle="dropdown">Visa</a>
                            <ul class="dropdown-menu animated">
                                <li><a href="https://validthemes.net/site-template/visaco/visa.html">Visa Version One</a></li>
                                <li><a href="https://validthemes.net/site-template/visaco/visa-2.html">Visa Version Two</a></li>
                                <li><a href="https://validthemes.net/site-template/visaco/visa-3.html">Visa Version Three</a></li>
                                <li><a href="https://validthemes.net/site-template/visaco/visa-details.html">Visa Details</a></li>
                            </ul>
                        </li> -->
                            <!-- <li class="dropdown">
                            <a href="https://validthemes.net/site-template/visaco/index-3.html#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                            <ul class="dropdown-menu animated">
                                <li><a href="https://validthemes.net/site-template/visaco/blog-standard.html">Blog Standard</a></li>
                                <li><a href="https://validthemes.net/site-template/visaco/blog-with-sidebar.html">Blog With Sidebar</a></li>
                                <li><a href="https://validthemes.net/site-template/visaco/blog-2-colum.html">Blog Grid Two Colum</a></li>
                                <li><a href="https://validthemes.net/site-template/visaco/blog-3-colum.html">Blog Grid Three Colum</a></li>
                                <li><a href="https://validthemes.net/site-template/visaco/blog-single.html">Blog Single</a></li>
                                <li><a href="https://validthemes.net/site-template/visaco/blog-single-with-sidebar.html">Blog Single With Sidebar</a></li>
                            </ul>
                        </li> -->
                            <!-- <li>
                            <a href="https://validthemes.net/site-template/visaco/contact-us.html">contact</a>
                        </li> -->
                        </ul>
                    </div><!-- /.navbar-collapse -->

                    <div class="attr-right">
                        <!-- Start Atribute Navigation -->
                        <div class="attr-nav">
                            <ul>
                                <li class="contact">
                                    <div class="call">
                                        <div class="icon">
                                            <img src="./assets/img/phone-blue.png" alt="Image Not Found">
                                        </div>
                                        <div class="info">
                                            <p>Need to discuss?</p>
                                            <h5><a href="tel:+923051975258">305-1975258</a></h5>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="https://validthemes.net/site-template/visaco/apply-form.html"
                                        class="btn-style-one">Sign In
                                        <!-- <i class="fa-solid fa-arrow-right ml-20 cta-arrow"></i> -->
                                    </a></li>
                            </ul>
                        </div>
                        <!-- End Atribute Navigation -->
                    </div>

                </div>
                <!-- Overlay screen for menu -->
                <div class="overlay-screen"></div>
                <!-- End Overlay screen for menu -->

            </nav>
            <!-- End Navigation -->
        </header>
        <!-- End Header -->