<%- include('home-header.ejs') %>

    <!-- Start Banner Area 
    ============================================= -->
    <div class="banner-style-five-area shadow dark text-light bg-cover"
        style="background-image: url(assets/img/banner/6.jpg);">
        <!-- <div class="banner-five-shape">
                <img src="./assets/_7.png" alt="Image Not Found">
            </div> -->
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 p-0 offset-lg-1">
                    <img class="img-fluid" src="./assets/img/ielts-instructor-shadow.png" alt="Instructor Image">
                </div>
                <div class="col-xl-8 col-lg-8 mt-4">
                    <div class="content text-center">
                        <!-- <img src="./assets/9.png"
                                alt="Image Not Found."> -->
                        <div class="hero-badge">
                            <span class="dot"></span>
                            Limited Seats Available
                        </div>
                        <h2 class="split-text" style="">



                            <div class="line" style="display: block; text-align: center; position: relative;">
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    Ace Your</div>
                            </div>
                            <div class="line" style="display: block; text-align: center; position: relative;">
                                <div
                                    style="font-weight: 900; position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); background-color: var(--color-secondary); padding: 2px 30px; border-radius: 10px;">
                                    IELTS/PTE</div>
                            </div>
                            <div class="line" style="display: block; text-align: center; position: relative;">
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    with</div>
                                <!-- <div
                                        style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                        ARQUM</div> -->
                                <div id="app"></div>

                            </div>
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay="100ms"
                            style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                            Open Doors To International Opportunities, Ready to get started or have questions?
                            Contact us today to learn more about our courses and how we can help you achieve your
                            goals. Your success is our priority!
                        </p>
                        <div class="button mt-30">
                            <a href="https://validthemes.net/site-template/visaco/apply-form.html"
                                class="btn-style-one wow fadeInUp" data-wow-delay="300ms"
                                style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp; margin-right: 10px;">Start
                                Your Journey <i class="fa-solid fa-arrow-right ml-20 cta-arrow"></i></a>
                            <a href="https://validthemes.net/site-template/visaco/apply-form.html"
                                class="btn-style-one wow fadeInUp ml-40" data-wow-delay="300ms"
                                style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;"><i
                                    class="fa-solid fa-play mr-20"></i>Watch
                                Free Lesson</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->

    <!-- Start Feature 
    ============================================= -->
    <div class="feature-style-one-area relative">
        <div class="container">
            <div class="features-style-one-items wow fadeInUp" data-wow-delay="200ms"
                style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                <div class="row">
                    <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 feature-style-one-item hover-active-item mb-5">
                        <div class="item" style="background-image: url(assets/img/shape/36.png);">
                            <div class="icon">
                                <img src="./assets/img/s3.png" alt="Image Not Found">
                            </div>
                            <h4>Creative Thinking</h4>
                            <p>
                                We help students develop creative and clear thinking before attempting any IELTS
                                question so
                                answers feel confident, relevant, and well-planned instead of rushed.
                            </p>
                            <div class="number">
                                <span>01</span>
                            </div>
                        </div>
                    </div>
                    <!-- Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 feature-style-one-item hover-active-item mb-5 active">
                        <div class="item" style="background-image: url(assets/img/shape/36.png);">
                            <div class="icon">
                                <img src="./assets/img/s1.png" alt="Image Not Found">
                            </div>
                            <h4>Right Approach</h4>
                            <p>
                                Students learn the correct approach for each question type, helping them understand
                                how to attempt tasks the way examiners expect.
                            </p>
                            <div class="number">
                                <span>02</span>
                            </div>
                        </div>
                    </div>
                    <!-- Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 feature-style-one-item hover-active-item mb-5">
                        <div class="item" style="background-image: url(assets/img/shape/36.png);">
                            <div class="icon">
                                <img src="./assets/img/s2.png" alt="Image Not Found">
                            </div>
                            <h4>Common Mistakes</h4>
                            <p>
                                We focus on common beginner mistakes and train students how to avoid them, saving
                                marks that are often lost unnecessarily.
                            </p>
                            <div class="number">
                                <span>03</span>
                            </div>
                        </div>
                    </div>
                    <!-- Single Item -->

                    <div class="col-lg-4 col-md-6 feature-style-one-item hover-active-item mb-5">
                        <div class="item" style="background-image: url(assets/img/shape/36.png);">
                            <div class="icon">
                                <img src="./assets/img/s4.png" alt="Image Not Found">
                            </div>
                            <h4>Time Management</h4>
                            <p>
                                Simple and practical techniques are taught to manage time effectively during the
                                exam without panic or confusion.
                            </p>
                            <div class="number">
                                <span>04</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 feature-style-one-item hover-active-item mb-5">
                        <div class="item" style="background-image: url(assets/img/shape/36.png);">
                            <div class="icon">
                                <img src="./assets/img/s5.png" alt="Image Not Found">
                            </div>
                            <h4>1-ON-1 Coaching</h4>
                            <p>
                                Get personalized feedback from certified IELTS trainers to accelerate your
                                improvement.
                            </p>
                            <div class="number">
                                <span>05</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 feature-style-one-item hover-active-item mb-5">
                        <div class="item" style="background-image: url(assets/img/shape/36.png);">
                            <div class="icon">
                                <img src="./assets/img/s6.png" alt="Image Not Found">
                            </div>
                            <h4>Targeted Practice</h4>
                            <p>
                                Access 500+ practice tests with detailed analytics to track your progress.
                            </p>
                            <div class="number">
                                <span>06</span>
                            </div>
                        </div>
                    </div>
                </div>









            </div>
        </div>
    </div>
    <!-- End Feature -->

    <!-- Start About 
    ============================================= -->
    <div class="about-style-five-area default-padding">
        <div class="shape">
            <img src="./assets/img/10.png" alt="Image Not Found">
        </div>
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-6 pl-60 pl-md-15 pl-xs-15 order-lg-last">
                    <div class="about-style-five-thumb">
                        <img class="wow fadeInUp" data-wow-delay="100ms" src="./assets/img/7.jpg" alt="Image Not Found"
                            style="visibility: hidden; animation-delay: 100ms; animation-name: none;">
                        <div class="fun-fact wow fadeInDown" data-wow-delay="200ms"
                            style="visibility: hidden; animation-delay: 200ms; animation-name: none;">
                            <div class="counter">
                                <div class="timer" data-to="10" data-speed="2000">10</div>
                                <div class="operator">+</div>
                            </div>
                            <span class="medium">Years Experience</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-style-five-info">
                        <h4 class="sub-title">About the Trainer</h4>
                        <h2 class="title split-text" style="">
                            <div class="line" style="display: block; text-align: start; position: relative;">
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    Focused</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    Guidance</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    for</div>
                            </div>
                            <div class="line" style="display: block; text-align: start; position: relative;">
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    English</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    Exams</div>

                            </div>
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay="100ms"
                            style="visibility: hidden; animation-delay: 100ms; animation-name: none; text-align: justify;">
                            I am an English language test trainer with experience preparing students for IELTS, PTE,
                            Duolingo, and other proficiency exams. Alongside my professional teaching role at a
                            consultancy, I focus on helping learners build strong thinking, writing, and speaking
                            skills through clear guidance and practical methods.
                        </p>
                        <div class="d-flex">
                            <div class="circle-progress-three">
                                <div class="progressbar-three">
                                    <div class="circle-three" data-percent="82">
                                        <strong></strong>
                                    </div>
                                    <h4>Success Rate</h4>
                                </div>
                            </div>
                            <div class="right">
                                <ul>
                                    <li><i class="fa-solid fa-circle-check mr-10"
                                            style="color: var(--color-secondary);"></i> Clear exam guidance for
                                        beginners</li>
                                    <li><i class="fa-solid fa-circle-check mr-10"
                                            style="color: var(--color-secondary);"></i>Focus on brainstorming and
                                        idea
                                        building</li>
                                    <li><i class="fa-solid fa-circle-check mr-10"
                                            style="color: var(--color-secondary);"></i>Practical writing and
                                        speaking
                                        strategies</li>
                                    <li><i class="fa-solid fa-circle-check mr-10"
                                            style="color: var(--color-secondary);"></i>One-on-one mentor-style
                                        support
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="author-quotes">
                            <div class="author-left">
                                <div class="thumb">
                                    <img src="./assets/img/profile.png" alt="Image Not Found">
                                </div>
                                <div class="info">
                                    <h4>Arqum</h4>
                                    <span>CEO &amp; Founder</span>
                                </div>
                            </div>
                            <div class="author-right">
                                <img src="./assets/img/signature.png" alt="Image Not Found">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Start Process 
    ============================================= -->
    <div class="process-styl-two-area default-padding text-center bg-gray bg-cover"
        style="background-image: url(assets/img/shape/16.png);">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                    <div class="site-heading text-center">
                        <h4 class="sub-title">Simple Learning Process</h4>
                        <h2 class="title wow fadeInUp" style="visibility: hidden; animation-name: none;">Prepare for
                            Your English Exam in Three Clear Steps</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="process-style-two-items wow fadeInUp" data-wow-delay="100ms"
                        style="visibility: hidden; animation-delay: 100ms; animation-name: none;">

                        <!-- Single Item -->
                        <div class="process-style-two-item">
                            <div class="icon">
                                <img src="./assets/img/pro-1.png" alt="Image Not Found">
                            </div>
                            <div class="info">
                                <h4>Understand the Exam</h4>
                                <p>
                                    Students are guided through the exam format, scoring criteria, and examiner
                                    expectations to build a clear understanding from the start.
                                </p>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="process-style-two-item">
                            <div class="icon">
                                <img src="./assets/img/pro-2.png" alt="Image Not Found">
                            </div>
                            <div class="info">
                                <h4>Build Skills & Practice</h4>
                                <p>
                                    Writing, speaking, and thinking skills are developed step by step through
                                    focused practice and guided exercises.
                                </p>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="process-style-two-item">
                            <div class="icon">
                                <img src="./assets/img/pro-3.png" alt="Image Not Found">
                            </div>
                            <div class="info">
                                <h4>Test with Confidence</h4>
                                <p>
                                    With proper guidance and exam-ready strategies, students approach the test with
                                    clarity and confidence.
                                </p>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <div class="shape">
                            <img src="./assets/img/43.png" alt="Image Not Found">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Process -->

    <!-- Start Appoinement 
    ============================================= -->
    <div class="appoinment-style-one-area default-padding-top bg-dark bg-cover"
        style="background-image: url(assets/img/shape/banner-4.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-1 col-lg-7 order-lg-last">
                    <div class="appoinment-style-one-info wow fadeInDown"
                        style="visibility: hidden; animation-name: none;">
                        <form action="https://validthemes.net/site-template/visaco/index-3.html#">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="name">Full Name</label>
                                        <div class="input-group">
                                            <input class="form-control" id="name" name="name" placeholder="Jonathom Doe"
                                                type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <div class="input-group">
                                            <input class="form-control" id="address" name="address"
                                                placeholder="Address" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <div class="input-group">
                                            <input class="form-control" id="phone" name="phone"
                                                placeholder="Phone Number" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="email">Your Email</label>
                                        <div class="input-group">
                                            <input class="form-control" id="email" name="email"
                                                placeholder="info@someone.com" type="email">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="income">Income Range</label>
                                        <div class="input-group">
                                            <input class="form-control" id="income" name="income" placeholder="$500"
                                                type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="select_active">Merital Status</label>
                                        <select id="select_active" style="display: none;">
                                            <option value="1">Single</option>
                                            <option value="2">Married</option>
                                        </select>
                                        <div class="nice-select" tabindex="0"><span class="current">Single</span>
                                            <ul class="list">
                                                <li data-value="1" class="option selected">Single</li>
                                                <li data-value="2" class="option">Married</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="city">City</label>
                                        <div class="input-group">
                                            <input class="form-control" id="city" name="city" placeholder="Melbourne"
                                                type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="type">Types of visa</label>
                                        <div class="input-group">
                                            <input class="form-control" id="type" name="type" placeholder="Student Visa"
                                                type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="passport">Passport Number</label>
                                        <div class="input-group">
                                            <input class="form-control" id="passport" name="passport"
                                                placeholder="PA9988765" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="zip">ZIP/PIN code</label>
                                        <div class="input-group">
                                            <input class="form-control" id="zip" name="zip" placeholder="3400"
                                                type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button class="btn-style-one" type="submit" name="submit" id="submit">
                                        Submit to Negotiate
                                        <i class="fa-solid fa-arrow-right ml-20 cta-arrow"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="appoinment-style-one-thumb" style="position: relative;">
                        <img class="wow fadeInUp" data-wow-delay="100ms" src="./assets/img/feed-3.png"
                            alt="Image Not Found"
                            style="visibility: hidden; animation-delay: 100ms; animation-name: none;">
                        <img class="wow fadeInUp animate-float" data-wow-delay="100ms" src="./assets/img/edu-cap.png"
                            alt="Image Not Found"
                            style="visibility: hidden; animation-delay: 100ms; animation-name: none; position: absolute; right: -35px; width: 150px;">
                        <img class="wow fadeInUp animate-float" data-wow-delay="100ms" src="./assets/img/passport.png"
                            alt="Image Not Found"
                            style="visibility: hidden; animation-delay: 100ms; animation-name: none; position: absolute; left: -90px; width: 150px; top: 0px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Appoinement -->

    <!-- Start Visa Category 
    ============================================= -->
    <div class="visa-category-five-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                    <div class="site-heading text-center">
                        <h4 class="sub-title">SKILLS WE BUILD</h4>
                        <h2 class="title split-text" style="">
                            <div class="line" style="display: block; text-align: center; position: relative;">
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    Build</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    the Skills</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    You</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    Need</div>
                            </div>
                            <div class="line" style="display: block; text-align: center; position: relative;">
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    to Succeed</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    &amp;</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    in English Exams</div>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-12">
                <div class="visa-cat-style-five-items">
                    <!-- Single Item -->
                    <div class="visa-cat-style-five-item bg-cover hover-active-item"
                        style="background-image: url(assets/img/shape/44.png);">
                        <div class="country">
                            <h4><a href="https://validthemes.net/site-template/visaco/country-details.html">Listening
                                    Practice</a></h4>
                            <span>Accents & Clarity</span>
                        </div>
                        <div class="flag">
                            <img src="./assets/img/listening-sign.png" alt="Image Not Found">
                        </div>
                        <div class="visa-cat-five-overlay-info">
                            <h4><a href="https://validthemes.net/site-template/visaco/country-details.html">Understanding
                                    Spoken English</a></h4>
                            <p>
                                Improve your ability to understand spoken English across different accents in real
                                exam listening situations.
                            </p>
                            <ul class="list-style-one">
                                <li>Different English accents practice</li>
                                <li>Keyword listening techniques</li>
                                <li>Common trap questions handling</li>
                            </ul>
                            <a href="https://validthemes.net/site-template/visaco/country-details.html"
                                class="btn-style-one circle mt-30" style="color: #fff;">Discover More <i
                                    class="fa-solid fa-arrow-right ml-20 cta-arrow"></i></a>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="visa-cat-style-five-item active bg-cover hover-active-item"
                        style="background-image: url(assets/img/shape/44.png);">
                        <div class="country">
                            <h4><a href="https://validthemes.net/site-template/visaco/country-details.html">Reading
                                    Techniques</a>
                            </h4>
                            <span>Speed & Accuracy</span>
                        </div>
                        <div class="flag">
                            <img src="./assets/img/reading-sign.png" alt="Image Not Found">
                        </div>
                        <div class="visa-cat-five-overlay-info">
                            <h4><a href="https://validthemes.net/site-template/visaco/country-details.html">Smart
                                    Reading Approach</a></h4>
                            <p>
                                Learn how to read passages faster and locate correct answers accurately without
                                wasting valuable exam time.
                            </p>
                            <ul class="list-style-one">
                                <li>Skimming and scanning methods</li>
                                <li>Understanding tricky questions</li>
                                <li>Time-saving reading strategies</li>
                            </ul>
                            <a href="https://validthemes.net/site-template/visaco/country-details.html"
                                class="btn-style-one circle mt-30" style="color: #fff;">Discover More <i
                                    class="fa-solid fa-arrow-right ml-20 cta-arrow"></i></a>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="visa-cat-style-five-item bg-cover hover-active-item"
                        style="background-image: url(assets/img/shape/44.png);">
                        <div class="country">
                            <h4><a href="https://validthemes.net/site-template/visaco/country-details.html">Writing
                                    Structure</a>
                            </h4>
                            <span>Ideas & Flow</span>
                        </div>
                        <div class="flag">
                            <img src="./assets/img/writing-sign.png" alt="Image Not Found">
                        </div>
                        <div class="visa-cat-five-overlay-info">
                            <h4><a href="https://validthemes.net/site-template/visaco/country-details.html">Clear
                                    Answer Writing</a></h4>
                            <p>
                                Develop clear ideas and write well-structured answers that meet task requirements
                                and examiner expectations.
                            </p>
                            <ul class="list-style-one">
                                <li>Task understanding and planning</li>
                                <li>Paragraph structure and coherence</li>
                                <li>Idea development techniques</li>
                            </ul>
                            <a href="https://validthemes.net/site-template/visaco/country-details.html"
                                class="btn-style-one circle mt-30" style="color: #fff;">Discover More <i
                                    class="fa-solid fa-arrow-right ml-20 cta-arrow"></i></a>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="visa-cat-style-five-item bg-cover hover-active-item"
                        style="background-image: url(assets/img/shape/44.png);">
                        <div class="country">
                            <h4><a href="https://validthemes.net/site-template/visaco/country-details.html">Speaking
                                    Confidence</a>
                            </h4>
                            <span>Fluency & Expression</span>
                        </div>
                        <div class="flag">
                            <img src="./assets/img/speaking-sign.png" alt="Image Not Found">
                        </div>
                        <div class="visa-cat-five-overlay-info">
                            <h4><a href="https://validthemes.net/site-template/visaco/country-details.html">Effective
                                    Spoken Communication</a></h4>
                            <p>
                                Build confidence to speak fluently with clear ideas and natural English during real
                                exam speaking tasks.
                            </p>
                            <ul class="list-style-one">
                                <li>Fluency and pronunciation practice</li>
                                <li>Answer expansion techniques</li>
                                <li>Confidence building strategies</li>
                            </ul>
                            <a href="https://validthemes.net/site-template/visaco/country-details.html"
                                class="btn-style-one circle mt-30" style="color: #fff;">Discover More <i
                                    class="fa-solid fa-arrow-right ml-20 cta-arrow"></i></a>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="visa-cat-style-five-item bg-cover hover-active-item"
                        style="background-image: url(assets/img/shape/44.png);">
                        <div class="country">
                            <h4><a href="https://validthemes.net/site-template/visaco/country-details.html">Exam
                                    Strategy</a>
                            </h4>
                            <span>Smart Approach</span>
                        </div>
                        <div class="flag">
                            <img src="./assets/img/exam-sign.png" alt="Image Not Found">
                        </div>
                        <div class="visa-cat-five-overlay-info">
                            <h4><a href="https://validthemes.net/site-template/visaco/country-details.html">Strategic
                                    Exam Approach</a></h4>
                            <p>
                                Understand how to approach each exam section smartly, avoid common mistakes, and
                                maximize overall performance.
                            </p>
                            <ul class="list-style-one">
                                <li>Understanding exam patterns</li>
                                <li>Avoiding common mistakes</li>
                                <li>Score-focused strategies</li>
                            </ul>
                            <a href="https://validthemes.net/site-template/visaco/country-details.html"
                                class="btn-style-one circle mt-30" style="color: #fff;">Discover More <i
                                    class="fa-solid fa-arrow-right ml-20 cta-arrow"></i></a>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <div class="visa-cat-style-five-item bg-cover hover-active-item"
                        style="background-image: url(assets/img/shape/44.png);">
                        <div class="country">
                            <h4><a href="https://validthemes.net/site-template/visaco/country-details.html">Time
                                    Management</a>
                            </h4>
                            <span>Control & Pace</span>
                        </div>
                        <div class="flag">
                            <img src="./assets/img/time-sign.png" alt="Image Not Found">
                        </div>
                        <div class="visa-cat-five-overlay-info">
                            <h4><a href="https://validthemes.net/site-template/visaco/country-details.html">Managing
                                    Exam Time</a></h4>
                            <p>
                                Learn effective time management techniques to complete all exam sections calmly
                                without rushing or leaving questions unanswered.
                            </p>
                            <ul class="list-style-one">
                                <li>Section-wise time planning</li>
                                <li>Speed improvement techniques</li>
                                <li>Stress-free exam approach</li>
                            </ul>
                            <a href="https://validthemes.net/site-template/visaco/country-details.html"
                                class="btn-style-one circle mt-30" style="color: #fff;">Discover More <i
                                    class="fa-solid fa-arrow-right ml-20 cta-arrow"></i></a>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Visa Category -->


















    <!-- Start Course 
    ============================================= -->
    <div class="course-style-two-area default-padding bg-gray bg-cover"
        style="background-image: url(assets/img/shape/wooden.png);">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                    <div class="site-heading text-center">
                        <h4 class="sub-title">Coaching we provide</h4>
                        <h2 class="title split-text" style="">
                            <div class="line" style="display: block; text-align: center; position: relative;">
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    Discover</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    the</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    Elite</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    Training</div>
                            </div>
                            <div class="line" style="display: block; text-align: center; position: relative;">
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    Programs</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    you</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    Need</div>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="course-style-two-items">
                        <!-- Single Item -->
                        <div class="course-style-two-item wow fadeInUp"
                            style="visibility: hidden; animation-name: none;">
                            <a href="https://validthemes.net/site-template/visaco/coaching-details.html">
                                <img src="./assets/img/ielts-logo.jpg" alt="Image Not Fund">
                                <!-- <h6>TOEFL Coaching</h6> -->
                            </a>
                            <a href="https://validthemes.net/site-template/visaco/coaching-details.html">
                                <img src="./assets/img/pte-logo.jpg" alt="Image Not Fund">
                                <!-- <h6>IELTS Coaching</h6> -->
                            </a>
                            <!-- <a href="https://validthemes.net/site-template/visaco/coaching-details.html">
                                    <img src="./assets/30.png"
                                        alt="Image Not Fund">
                                    <h6>Citizenship Test</h6>
                                </a>
                                <a href="https://validthemes.net/site-template/visaco/coaching-details.html">
                                    <img src="./assets/31.png"
                                        alt="Image Not Fund">
                                    <h6>PTE Coaching</h6>
                                </a> -->
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="course-banner wow fadeInDown bg-theme text-light"
                            style="background-image: url(&quot;assets/img/shape/37.png&quot;); visibility: hidden; animation-name: none;">
                            <h2>AVAILABLE</h2>
                            <div class="percent">
                                30%
                            </div>
                            <h5>OFF ON ALL COACHING</h5>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="course-style-two-item wow fadeInUp"
                            style="visibility: hidden; animation-name: none;">
                            <a href="https://validthemes.net/site-template/visaco/coaching-details.html">
                                <img src="./assets/img/tofel-logo.jpg" alt="Image Not Fund">
                                <!-- <h6>GMAT Coaching</h6> -->
                            </a>
                            <a href="https://validthemes.net/site-template/visaco/coaching-details.html">
                                <img src="./assets/img/duolingo-logo.jpg" alt="Image Not Fund">
                                <!-- <h6>SAT Coaching</h6> -->
                            </a>
                            <!-- <a href="https://validthemes.net/site-template/visaco/coaching-details.html">
                                    <img src="./assets/34.png"
                                        alt="Image Not Fund">
                                    <h6>GRE Coaching</h6>
                                </a>
                                <a href="https://validthemes.net/site-template/visaco/coaching-details.html">
                                    <img src="./assets/35.png"
                                        alt="Image Not Fund">
                                    <h6>OET Coaching</h6>
                                </a> -->
                        </div>
                        <!-- End Single Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Course -->




























    <!-- Start Team 
    ============================================= -->
    <!-- <div class="team-style-two-area default-padding-top bottom-less">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                        <div class="site-heading text-center">
                            <h4 class="sub-title">Our Expert Members</h4>
                            <h2 class="title split-text" style="">
                                <div class="line" style="display: block; text-align: center; position: relative;">
                                    <div
                                        style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0%, 100%);">
                                        Introducing</div>
                                    <div
                                        style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0%, 100%);">
                                        our</div>
                                    <div
                                        style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0%, 100%);">
                                        skilled</div>
                                    <div
                                        style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0%, 100%);">
                                        visa</div>
                                </div>
                                <div class="line" style="display: block; text-align: center; position: relative;">
                                    <div
                                        style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0%, 100%);">
                                        process</div>
                                    <div
                                        style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0%, 100%);">
                                        specialists</div>
                                </div>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="team-style-two-item wow fadeInUp" style="visibility: hidden; animation-name: none;">
                            <div class="thumb">
                                <img src="./assets/15.png"
                                    alt="Image Not Found">
                                <img src="./assets/38.png"
                                    alt="Image Not Found">
                                <div class="social-info">
                                    <div class="social-overlay">
                                        <ul>
                                            <li>
                                                <a href="https://validthemes.net/site-template/visaco/index-3.html#"><i
                                                        class="fab fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://validthemes.net/site-template/visaco/index-3.html#"><i
                                                        class="fab fa-dribbble"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://validthemes.net/site-template/visaco/index-3.html#"><i
                                                        class="fab fa-facebook-f"></i></a>
                                            </li>
                                        </ul>
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info">
                                <div class="content">
                                    <h4><a href="https://validthemes.net/site-template/visaco/team-details.html">Aleesha
                                            Brown</a></h4>
                                    <span>Visa Counselor</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="team-style-two-item wow fadeInUp" data-wow-delay="100ms"
                            style="visibility: hidden; animation-delay: 100ms; animation-name: none;">
                            <div class="thumb">
                                <img src="./assets/16.png"
                                    alt="Image Not Found">
                                <img src="./assets/38.png"
                                    alt="Image Not Found">
                                <div class="social-info">
                                    <div class="social-overlay">
                                        <ul>
                                            <li>
                                                <a href="https://validthemes.net/site-template/visaco/index-3.html#"><i
                                                        class="fab fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://validthemes.net/site-template/visaco/index-3.html#"><i
                                                        class="fab fa-dribbble"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://validthemes.net/site-template/visaco/index-3.html#"><i
                                                        class="fab fa-facebook-f"></i></a>
                                            </li>
                                        </ul>
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info">
                                <div class="content">
                                    <h4><a href="https://validthemes.net/site-template/visaco/team-details.html">Kevin
                                            Martin</a></h4>
                                    <span>Immigration Officer</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="team-style-two-item wow fadeInUp" data-wow-delay="200ms"
                            style="visibility: hidden; animation-delay: 200ms; animation-name: none;">
                            <div class="thumb">
                                <img src="./assets/17.png"
                                    alt="Image Not Found">
                                <img src="./assets/38.png"
                                    alt="Image Not Found">
                                <div class="social-info">
                                    <div class="social-overlay">
                                        <ul>
                                            <li>
                                                <a href="https://validthemes.net/site-template/visaco/index-3.html#"><i
                                                        class="fab fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://validthemes.net/site-template/visaco/index-3.html#"><i
                                                        class="fab fa-dribbble"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://validthemes.net/site-template/visaco/index-3.html#"><i
                                                        class="fab fa-facebook-f"></i></a>
                                            </li>
                                        </ul>
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info">
                                <div class="content">
                                    <h4><a href="https://validthemes.net/site-template/visaco/team-details.html">Sarah
                                            Albert</a></h4>
                                    <span>Immigration Specialist</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- End Team -->



















    <!-- Start Testimonial 
    ============================================= -->
    <div class="tesimonial-style-one-area text-center default-padding bg-cover"
        style="background-image: url(assets/img/shape/map.png);">
        <div class="container">
            <div class="testimonial-style-one-items">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="testimonial-style-one-contents">
                            <div class="testimonial-one-shape">
                                <img class="wow fadeInUp" src="./assets/img/7(1).jpg" alt="Image Not Found"
                                    style="visibility: hidden; animation-name: none;">
                                <img class="wow fadeInUp" src="./assets/img/8.jpg" alt="Image Not Found"
                                    style="visibility: hidden; animation-name: none;">
                                <img class="wow fadeInUp" data-wow-delay="100ms" src="./assets/img/9.jpg"
                                    alt="Image Not Found"
                                    style="visibility: hidden; animation-delay: 100ms; animation-name: none;">
                                <img class="wow fadeInUp" data-wow-delay="100ms" src="./assets/img/10.jpg"
                                    alt="Image Not Found"
                                    style="visibility: hidden; animation-delay: 100ms; animation-name: none;">
                            </div>
                            <!-- Slider main container -->
                            <div class="testimonial-style-one-carousel wow fadeInUp swiper swiper-fade swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden"
                                style="visibility: hidden; animation-name: none;">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper" id="swiper-wrapper-c15282d14ed52106" aria-live="off"
                                    style="transition-duration: 0ms;">
                                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev"
                                        data-swiper-slide-index="1"
                                        style="width: 854px; opacity: 0; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;"
                                        role="group" aria-label="2 / 2">
                                        <div class="testimonial-style-one-item">
                                            <div class="tm-provider">
                                                <img src="./assets/img/11.jpg" alt="Image Not Found">
                                            </div>
                                            <div class="reviews">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <h3>Clear Guidance and Real Improvement</h3>
                                            <p>
                                                The sessions were well-structured and easy to follow. I improved my
                                                writing and speaking confidence a lot. Sir Arqum explained concepts
                                                clearly and corrected mistakes patiently. Highly recommended.
                                            </p>
                                            <div class="tm-provider-detaisl">
                                                <h4>Hannan</h4>
                                                <span>IELTS Student</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Item -->
                                    <div class="swiper-slide swiper-slide-duplicate-active" data-swiper-slide-index="0"
                                        style="width: 854px; opacity: 0; transform: translate3d(-854px, 0px, 0px); transition-duration: 0ms;"
                                        role="group" aria-label="1 / 2">
                                        <div class="testimonial-style-one-item">
                                            <div class="tm-provider">
                                                <img src="./assets/img/10.jpg" alt="Image Not Found">
                                            </div>
                                            <div class="reviews">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <h3>Clear Guidance and Real Improvement</h3>
                                            <p>
                                                The sessions were well-structured and easy to follow. I improved my
                                                writing and speaking confidence a lot. Sir Arqum explained concepts
                                                clearly and corrected mistakes patiently. Highly recommended.
                                            </p>
                                            <div class="tm-provider-detaisl">
                                                <h4>Hannan</h4>
                                                <span>IELTS Student</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Item -->
                                    <!-- Single Item -->
                                    <div class="swiper-slide swiper-slide-prev swiper-slide-duplicate-next"
                                        data-swiper-slide-index="1"
                                        style="width: 854px; opacity: 0; transform: translate3d(-1708px, 0px, 0px); transition-duration: 0ms;"
                                        role="group" aria-label="2 / 2">
                                        <div class="testimonial-style-one-item">
                                            <div class="tm-provider">
                                                <img src="./assets/img/11.jpg" alt="Image Not Found">
                                            </div>
                                            <div class="reviews">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <h3>Supportive Learning Experience</h3>
                                            <p>
                                                I always felt comfortable asking questions. The practice methods
                                                really helped me understand exam patterns better. My confidence
                                                improved, especially in speaking and writing tasks.
                                            </p>
                                            <div class="tm-provider-detaisl">
                                                <h4>Ayesha</h4>
                                                <span>IELTS Student</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Item -->
                                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-visible swiper-slide-active"
                                        data-swiper-slide-index="0"
                                        style="width: 854px; opacity: 1; transform: translate3d(-2562px, 0px, 0px); transition-duration: 0ms;"
                                        role="group" aria-label="1 / 2">
                                        <div class="testimonial-style-one-item">
                                            <div class="tm-provider">
                                                <img src="./assets/img/10.jpg" alt="Image Not Found">
                                            </div>
                                            <div class="reviews">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <h3>Positive and supportive interactions</h3>
                                            <p>
                                                Objectively administrate bleeding-edge best practices through
                                                interactive niche market. Distinctively productize Phosphorescently
                                                promote excellent.Sed ut perspiciatis unde omnis isteerror
                                                voluptatem Distinctively.
                                            </p>
                                            <div class="tm-provider-detaisl">
                                                <h4>Nazat Sarwar</h4>
                                                <span>Web Developer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonial -->

    <!-- Start Call to action 
    ============================================= -->
    <div class="call-to-action-area">
        <div class="container">
            <div class="call-to-action-style-one bg-dark text-light">
                <div class="shape">
                    <img src="./assets/img/24.png" alt="Image Not Found">
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="thumb bg-theme-secondary">
                            <img class="wow fadeInUp" src="./assets/img/6.png" alt="Image Not Found"
                                style="visibility: hidden; animation-name: none;">
                            <div class="shape">
                                <img src="./assets/img/7(2).png" alt="Image Not Found">
                                <img src="./assets/img/23.png" alt="Image Not Found">
                                <img src="./assets/img/25(1).png" alt="Image Not Found">
                                <img src="./assets/img/26(1).png" alt="Image Not Found">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="call-action-info">
                            <h4 class="sub-title">FREE GUIDANCE SESSION</h4>
                            <h2 class="title split-text" style="">
                                <div class="line" style="display: block; text-align: start; position: relative;">
                                    <div
                                        style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                        Confused </div>
                                    <div
                                        style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                        About</div>
                                    <div
                                        style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    </div>
                                </div>
                                <div class="line" style="display: block; text-align: start; position: relative;">
                                    <div
                                        style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                        Test? Let's </div>
                                    <div
                                        style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                        Fix it</div>
                                </div>
                            </h2>
                            <a href="https://validthemes.net/site-template/visaco/apply-form.html"
                                class="btn-style-one circle mt-10 wow fadeInUp" data-wow-delay="100ms" style="visibility: hidden; animation-delay: 100ms; animation-name: none; border: 2px solid #fff;
    border-radius: 10px;">Book a Free Consultation <i class="fa-solid fa-arrow-right ml-20 cta-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Call to action  -->

    <!-- Start Blog 
    ============================================= -->
    <div class="home-blog-area default-padding bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                    <div class="site-heading text-center">
                        <h4 class="sub-title">News &amp; Updates</h4>
                        <h2 class="title split-text" style="">
                            <div class="line" style="display: block; text-align: center; position: relative;">
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    Recent</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    story</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    &amp;</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    articles</div>
                            </div>
                            <div class="line" style="display: block; text-align: center; position: relative;">
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    in</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    our</div>
                                <div
                                    style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                    community</div>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- Single Item -->
                <div class="col-lg-6 col-md-6">
                    <div class="home-blog-style-one wow fadeInUp" style="visibility: hidden; animation-name: none;">
                        <div class="thumb">
                            <img src="./assets/img/1.jpg" alt="Image Not Found">
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="meta">
                                    <div class="date">
                                        <strong>29</strong> Jan
                                    </div>
                                </div>
                                <div class="content">
                                    <ul class="blog-meta">
                                        <li>
                                            <a href="https://validthemes.net/site-template/visaco/index-3.html#"><i
                                                    class="far fa-user-circle"></i> Md Sohag</a>
                                        </li>
                                        <li>
                                            <a href="https://validthemes.net/site-template/visaco/index-3.html#"><i
                                                    class="far fa-comments"></i> 18 Comments</a>
                                        </li>
                                    </ul>
                                    <h3><a
                                            href="https://validthemes.net/site-template/visaco/blog-single-with-sidebar.html">Picked
                                            up a Brussels burger Sprouts with ham</a></h3>
                                    <a href="https://validthemes.net/site-template/visaco/blog-single-with-sidebar.html"
                                        class="btn-regular">
                                        Read More
                                        <svg width="20" height="18" viewBox="0 0 20 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 17L17 1H7.8" stroke="#232323" stroke-width="2"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-lg-6 col-md-6">
                    <div class="home-blog-style-one wow fadeInUp" data-wow-delay="100ms"
                        style="visibility: hidden; animation-delay: 100ms; animation-name: none;">
                        <div class="thumb">
                            <img src="./assets/img/2.jpg" alt="Image Not Found">
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="meta">
                                    <div class="date">
                                        <strong>24</strong> Mar
                                    </div>
                                </div>
                                <div class="content">
                                    <ul class="blog-meta">
                                        <li>
                                            <a href="https://validthemes.net/site-template/visaco/index-3.html#"><i
                                                    class="far fa-user-circle"></i> Md Sohag</a>
                                        </li>
                                        <li>
                                            <a href="https://validthemes.net/site-template/visaco/index-3.html#"><i
                                                    class="far fa-comments"></i> 15 Comments</a>
                                        </li>
                                    </ul>
                                    <h3><a
                                            href="https://validthemes.net/site-template/visaco/blog-single-with-sidebar.html">This
                                            prefabrice passive house is highly sustainable</a></h3>
                                    <a href="https://validthemes.net/site-template/visaco/blog-single-with-sidebar.html"
                                        class="btn-regular">
                                        Read More
                                        <svg width="20" height="18" viewBox="0 0 20 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 17L17 1H7.8" stroke="#232323" stroke-width="2"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
    <!-- End Blog  -->

    <%- include('footer.ejs') %>